.panel-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    .panel-wrapper-icon{
        width: 6.45px;
        height: 6.45px;
        border-radius: 1.5px;
        background-color: #6687FF;
        transform: rotate(45deg);
        margin-left: 2px;
    }
    .panel-wrapper-content{
        font-family: Source Han Sans CN;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #333333;
        display: flex;
        gap: 8px;
        &::after{
            content: "";
            display: block;
            width: 220px;
            height: 27px;
            background: url('/images/panel_line.svg') no-repeat;
            background-size: contain;
        }
    }
}