.day-modal {
    width: 427.75px;
    height: 276px;
    border-radius: 16.52px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    backdrop-filter: blur(8.147602081298828px);
    box-shadow: 8.15px 17.31px 26.58px 0px #00000026;
    background: linear-gradient(0deg, rgba(223, 231, 255, 0.3), rgba(223, 231, 255, 0.3)),
    linear-gradient(180deg, rgba(255, 255, 255, 0.3) 6.66%, rgba(255, 255, 255, 0) 120.31%);
    .day-modal-title{
        width: 383.5px;
        height: 40.07px;
        border: 1px solid;
    }
    .day-modal-main{
        width: 330px;
        height: 144px;

    }
}