.home-page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-page-header {
        width: 1920px;
        height: 93px;
        display: flex;
        justify-content: center;
        background: url('/images/header_bg.svg') no-repeat;
        background-size: auto;

        .home-page-title {
            height: 63px;
            margin-top: 10px;
            font-family: Source Han Sans CN;
            font-size: 42px;
            font-weight: 700;
            color: #2163AA;
        }
    }

    .home-page-main {
        width: 1870px;
        height: 924px;
        display: flex;
        justify-content: space-between;
        margin-top: 21px;

        position: relative;
        background: url('/images/equiment_base_bg.svg') no-repeat;
        background-size: 1382px 900px;
        background-position: 55% center;


        .home-page-main-left,
        .home-page-main-right {
            width: 405px;
            height: 924px;
        }

        .home-page-main-left {
            width: 405px;
            height: 924px;
            background: url('/images/card_left_main_bg.svg') no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            // animation: animationShowLeft linear 0.9s;
            // animation-fill-mode: backwards;
            // animation-delay: 0.5s;

            .main-left-cloud-platform {
                width: 371px;
                height: 45px;
                margin-top: 30px;

                .main-left-title-box {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    border-radius: 12.75px;
                    background: linear-gradient(90.08deg, rgba(255, 255, 255, 0.6) 0.07%, rgba(255, 255, 255, 0) 101.35%);
                    font-family: Source Han Sans CN;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 36px;
                    letter-spacing: 0.05em;
                    color: #333333;

                    .title-box-icon {
                        width: 30px;
                        height: 30px;
                        margin: 0 8px 0 11px;
                        background: url('/images/ypt_icon.svg') no-repeat;
                        background-size: 100% 100%;
                    }
                }

                .main-left-title-line {
                    width: 363px;
                    height: 3px;
                    background: url('/images/ypt_line.svg') no-repeat;
                    margin: 3px 0 0 7px;
                    background-position: center;
                }
            }
        }

        .home-page-main-right {
            display: flex;
            flex-direction: column;

            // animation: animationShowRight linear 0.9s;
            // animation-fill-mode: backwards;
            // animation-delay: 0.5s;

            .home-page-main-right-top {
                width: 405px;
                height: 630px;
                background: url('/images/card_right_top_bg.svg') no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                .main-right-AI-platform {
                    width: 371px;
                    height: 45px;
                    margin-top: 30px;

                    .main-right-title-box {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        border-radius: 12.75px;
                        background: linear-gradient(90.08deg, rgba(255, 255, 255, 0.6) 0.07%, rgba(255, 255, 255, 0) 101.35%);
                        font-family: Source Han Sans CN;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 36px;
                        letter-spacing: 0.05em;
                        color: #333333;

                        .title-box-icon {
                            width: 30px;
                            height: 30px;
                            margin: 0 8px 0 11px;
                            background: url('/images/ai_icon.svg') no-repeat;
                            background-size: 100% 100%;
                        }
                    }

                    .main-right-title-line {
                        width: 363px;
                        height: 3px;
                        background: url('/images/ypt_line.svg') no-repeat;
                        margin: 3px 0 0 7px;
                        background-position: center;
                    }
                }

            }

            .home-page-main-right-bot {
                width: 405px;
                height: 278px;
                background: url('/images/card_right_bot_bg.svg') no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                .main-right-customer-platform {
                    width: 371px;
                    height: 45px;
                    margin-top: 30px;

                    .main-right-title-box {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        border-radius: 12.75px;
                        background: linear-gradient(90.08deg, rgba(255, 255, 255, 0.6) 0.07%, rgba(255, 255, 255, 0) 101.35%);
                        font-family: Source Han Sans CN;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 36px;
                        letter-spacing: 0.05em;
                        color: #333333;

                        .title-box-icon {
                            width: 30px;
                            height: 30px;
                            margin: 0 8px 0 11px;
                            background: url('/images/customer_icon.svg') no-repeat;
                            background-size: 100% 100%;
                        }
                    }

                    .main-right-title-line {
                        width: 363px;
                        height: 3px;
                        background: url('/images/ypt_line.svg') no-repeat;
                        margin: 3px 0 0 7px;
                        background-position: center;
                    }
                }

                .main-right-bot-chart {
                    width: 371px;
                    height: 135px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 25px;

                    .chart-left {
                        width: 172px;
                        position: relative;
                        top: 15px;

                        .pie-base-bg {
                            width: 172px;
                            height: 92px;
                            background: url('/images/max_base_bg.svg') no-repeat;
                            background-size: cover;
                            position: absolute;
                            top: 0px;
                            z-index: -1;
                        }
                    }

                    .chart-right {
                        display: flex;
                        flex-direction: column;
                        gap: 17px;

                        .chart-item {
                            display: flex;
                            align-items: center;

                            & :nth-child(2) {
                                font-family: Source Han Sans CN;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 21px;
                                color: #333333;
                                opacity: 0.8;
                            }

                            & :nth-child(3) {
                                font-family: Source Han Sans CN;
                                font-size: 22px;
                                font-weight: 700;
                                line-height: 17.17px;
                            }
                        }
                    }
                }
            }
        }

        .home-page-main-modal {
            position: absolute;
            top: 90px;
            left: 530px;
        }
    }
}